/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/* Header logo */
#header-logo {
    width: 100%;
    max-width: 60px;
    padding: 8px 8px 8px 0px;
}

.header-title {
    font-family: 'MedievalSharp', cursive;
    font-size: 30px;
}

.dead {
    color: red !important;
}